body {
        margin-top: 100px;
    
    text-align:center;
    
  }
#table{
    width:400px;
}
input[type="text"]{padding:5px 15px; border:2px #E0E0E0 solid;
    -webkit-border-radius: 5px;
    text-align:center;
    width:300px;
    border-radius: 5px; }
input[type="submit"]{padding:5px 15px; 
    cursor:pointer;
    background-color: #AE0000;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: #fff;
}
input[type="file"]{
    width:200px;
}
select{
    width:200px;
}
input[type="reset"]{padding:5px 15px; 
    cursor:pointer;
    width:200px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type="password"]{padding:5px 15px; border:2px #E0E0E0 solid;

    -webkit-border-radius: 5px;
    text-align:center;
    width:300px;
    border-radius: 5px; }
#greenline{
    
    border-bottom:0.5px #AE0000 solid;
}
#moneybtn{
    margin-left: 10px;
}
#back {
    float:right;
  }
#tt{
    margin:0 auto;
}

#title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #AE0000;
}
#ttt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}
#gridbox{
        display: grid;
        grid-gap: 10px;       
    }
